$nav-width: 15%;

body {
  font-family: "Open Sans", sans-serif;

  margin: 0;
  padding: 0;

  &>nav {
    box-shadow: 0 0 3px 3px gray;
    width: $nav-width;
    height: 100%;
    position: fixed;
    background: lightgray;
    z-index: 2;

  }
  &>main {
    position: absolute;
    left: $nav-width * 1.05;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
  }

  &>footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    font-size: small;
    background: gray;
    padding: 0.5rem;
  }

}
